<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="no.teacherspet.mainapplication">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_doggo3"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:logo="@drawable/ic_doggo3"
        >
        <activity android:name=".CreateAccount" android:label="Create your Teacher's Pet account"></activity>
        <activity android:name=".CreateLecture"></activity>
        <activity android:name=".TimeSetter"></activity>
        <activity android:name=".DateSetter"></activity>
        <activity android:name=".EditLecture"></activity>
        <activity android:name=".LectureStatistics"></activity>
        <activity android:name=".StudentRating">
        </activity>
        <activity android:name=".InitiateSubjects">
        </activity>
        <activity android:name=".ProfessorLogin">
        </activity>
        <activity android:name=".ProfessorLectureList">
        </activity>
        <activity android:name=".CreateOrLogIn">
        </activity>
        <activity android:name=".ProfessorLive" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".StudentLectureList"/>
        <activity android:name=".AddSubject"></activity>
        <activity android:name=".CommentsPopup"
            android:theme="@style/AppTheme.PopupTheme"></activity>
        <activity android:name=".StatisticsPopup"
            android:theme="@style/AppTheme.PopupTheme"></activity>

        <activity android:name=".RoleSelect" android:label="@string/startup">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>